body, html {
    cursor: none;
}
html {
    margin:70px auto;
}
body {
    background-image: url(g8.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
    font-family: impact;
    margin: 0;
    background-color: black;
    color: #fff;
    min-width:300px :;
}

#extravaganza {
    font-size: 1em;
    font-family: digital;
    width: 500px;
    margin: 50px auto;
    border:1px solid rgba(255,255,255,0.2);
    background: #092f6e url(lights1.jpg) no-repeat center;
    background-size:cover;
    min-height:577px;

}

#extravaganza .heading {
    background: rgba(0,0,0,0.7);
    padding:10px 0 30px 0;
    margin: 0 0 20px 0 auto;
}

#extravaganza h1 {
    font-size: 2em;
    color:#fff;
    text-transform: uppercase;
    line-height: 50px;
    margin: 0 0 0 -5px auto;
    text-align: center;
    letter-spacing: 3px;
}

#extravaganza h2 {
    font-size: 3.0em;
    color:red;
    text-transform: uppercase;
    line-height:40px;
    margin: 0 auto;
    text-align: center;
    padding:0;
    letter-spacing: 6px;
}

#extravaganza .countDown .countdown-row {
    display: block;
    text-align: center;
    margin-top:70px;
}

#extravaganza .countDown .countdown-section {
    display: inline-block;
    width:7em;
}

#extravaganza .countDown .countdown-amount {
    display:block;
    color:#fff;
    font-size: 4em;
    text-align: center;
    text-shadow: 1px 10px 10px black;
}

#extravaganza .countDown .countdown-period {
    display: block;
    color: #fff;
    font-size: 1.4em;
    text-transform: uppercase;
    text-align: center;


}

#mouseImage{
position:absolute;
width:20px;
height:35px;
}

@media screen and (max-width: 525px) {

    #extravaganza  {
        font-size: 1em;
        width:300px;
        min-height: 465px;
        background-size: 700px auto;
    }

    #extravaganza .heading {
        padding:10px 0 8px 0;
        margin: 0 0 20px 0 auto;
    }

    #extravaganza h1 {
    font-size: 1.4em;
    color:#fff;
    text-transform: uppercase;
    line-height: 50px;
    margin: 0 0 0 -5px auto;
    text-align: center;
    letter-spacing: 3px;
    }
    #extravaganza h2 {
        font-size: 1.5em;
        color:red;
        text-transform: uppercase;
        line-height:30px;
        margin: 0 auto;
        text-align: center;
        padding:0;
        letter-spacing: 5px;
    }

    #extravaganza .countDown .countdown-section {
        display: inline-block;
        padding:5px;
        width:4em;
        margin:50px 0 0 0;


    }
    #extravaganza .countDown .countdown-amount {
        display:block;
        color:white;
        text-shadow: 1px 20px 30px black;
        font-size: 2em;
        text-align: center;


    }
    #extravaganza .countDown .countdown-period {
    display: block;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;


    }

}
